/* BODY  */
#bodyID {
    background-color: #F3E8FF;
    text-align: center;
}


/* Box shadow class  */
.addShadow {
    box-shadow: 2px 2px 10px grey;
}

/* heading  */
.dayHeading {
    width: 20rem;
    /* text-align: center; */
}

.mainHeading {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 5rem;
}

.dateHeading {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 2.5rem;
}



#dateHeading {
    width: 19rem;
    height: 3.5rem;
    background-color: #C1AEFC;
    border-radius: 5px;
    border: 1px;
    border-color: black;
    padding-bottom: 2rem;
    
}

.listItems {
    font-family: 'Rajdhani', sans-serif;
}

#tableContainer {
    padding: 0 auto;
    margin: 0;
}

#removeBtn{
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    
}

/* Add Item Form  */
.addItemForm {
    padding: 0.5rem 2rem;
}

.inputItemBox {
    border: 0;
    padding: 0;
    width: auto;
    height: 3rem;
    font-family:  'Rajdhani', sans-serif;
    font-size: 2rem;
}


/* Add item button */
.addItemBtn {
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 50%;
    border: 0;
    background-color: #ADE792;
    position: fixed;
}



.removeImg{
    width: 1.5rem;
    height: 1.5rem;
}


/* LIST ITEM  */
.hrDivider {
    padding: 0;
    margin: 0;
}

.tableOfItem {
    background-color: white;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

.listItems {
    /* padding: 0.5rem 0rem; */
    width: auto;
    height: auto;
    font-size: 2rem;
    text-align: center;
    border-top: 1px;
}


#listItems {
    border-bottom: 1px;
    padding: 0.5rem;

}

.removedItemEffect {
    text-decoration: line-through #5C469C;
}


@media (max-width: 500px){
    .tableOfItem {
        background-color: white;
        border-radius: 5px;
        margin: 0.5rem;
        padding: 0.5rem;
    }
}